<div class="ui card">
    <div class="content">
        <p class="header">
            <%= @board.name %>
        </p>
    </div>
    <div class="extra content">
        <% link_to 'Edit', edit_board_path(@board) %> |
        <%= link_to 'Back', board_path %>
    </div>
</div>